In [1]:
import pandas as pd

Mounted at /content/drive

In [2]:
data = pd.read_csv("Book1.csv",encoding='utf8')
#mydata = data.drop(["Liked"], axis=1)
mydata = data.drop(['address','categories','name','reviews.date','reviews_rating'], axis=1)
# mydata.head(150)

                                          reviews_text
0    Pleasant 10 min walk along the sea front to th...
1    Really lovely hotel. Stayed on the very top fl...
2    Ett mycket bra hotell. Det som drog ner betyge...
3    We stayed here for four nights in October. The...
4    We stayed here for four nights in October. The...
..                                                 ...
145  I have stayed here twice now and loved it both...
146        Clean, safe, friendly, brand new, hotel- :)
147  The last time I stayed at this hotel, it was u...
148                                    Visiting family
149        Perfect, best hotel over others in the area

[150 rows x 1 columns]

Cleaning text

In [3]:
import re
# Define a function to clean the text
def clean(text):
# Removes all special characters and numericals leaving the alphabets
    text = re.sub('[^A-Za-z]+', ' ', str(text))
    return text

# Cleaning the text in the review column
mydata['Cleaned Reviews'] = mydata['reviews_text'].apply(clean)
# mydata.head(150)

,reviews_text,Cleaned Reviews
0,Pleasant 10 min walk along the sea front to th...,Pleasant min walk along the sea front to the W...
1,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel Stayed on the very top flo...
2,Ett mycket bra hotell. Det som drog ner betyge...,Ett mycket bra hotell Det som drog ner betyget...
3,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...
4,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...
...,...,...
145,I have stayed here twice now and loved it both...,I have stayed here twice now and loved it both...
146,"Clean, safe, friendly, brand new, hotel- :)",Clean safe friendly brand new hotel
147,"The last time I stayed at this hotel, it was u...",The last time I stayed at this hotel it was un...
148,Visiting family,Visiting family
149,"Perfect, best hotel over others in the area",Perfect best hotel over others in the area

In [ ]:
#print(stopwords.words('english'))

In [4]:
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk import pos_tag
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.corpus import wordnet

# POS tagger dictionary
pos_dict = {'J':wordnet.ADJ, 'V':wordnet.VERB, 'N':wordnet.NOUN, 'R':wordnet.ADV}
def token_stop_pos(text):
    tags = pos_tag(word_tokenize(text))
    newlist = []
    for word, tag in tags:
        if word.lower() not in set(stopwords.words('english')):newlist.append(tuple([word, pos_dict.get(tag[0])]))
    return newlist

mydata['POS tagged'] = mydata['Cleaned Reviews'].apply(token_stop_pos)
# mydata.head(150)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Bhavik\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Bhavik\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bhavik\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Bhavik\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,reviews_text,Cleaned Reviews,POS tagged
0,Pleasant 10 min walk along the sea front to th...,Pleasant min walk along the sea front to the W...,"[(Pleasant, n), (min, n), (walk, n), (along, N..."
1,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel Stayed on the very top flo...,"[(Really, r), (lovely, a), (hotel, n), (Stayed..."
2,Ett mycket bra hotell. Det som drog ner betyge...,Ett mycket bra hotell Det som drog ner betyget...,"[(Ett, n), (mycket, n), (bra, n), (hotell, n),..."
3,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...,"[(stayed, v), (four, None), (nights, n), (Octo..."
4,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...,"[(stayed, v), (four, None), (nights, n), (Octo..."
...,...,...,...
145,I have stayed here twice now and loved it both...,I have stayed here twice now and loved it both...,"[(stayed, v), (twice, r), (loved, v), (times, ..."
146,"Clean, safe, friendly, brand new, hotel- :)",Clean safe friendly brand new hotel,"[(Clean, a), (safe, a), (friendly, a), (brand,..."
147,"The last time I stayed at this hotel, it was u...",The last time I stayed at this hotel it was un...,"[(last, a), (time, n), (stayed, v), (hotel, n)..."
148,Visiting family,Visiting family,"[(Visiting, v), (family, n)]"
149,"Perfect, best hotel over others in the area",Perfect best hotel over others in the area,"[(Perfect, a), (best, a), (hotel, n), (others,..."

In [5]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(pos_data):
    lemma_rew = " "
    for word, pos in pos_data:
      if not pos:
          lemma = word
          lemma_rew = lemma_rew + " " + lemma
      else:
          lemma = wordnet_lemmatizer.lemmatize(word, pos=pos)
          lemma_rew = lemma_rew + " " + lemma
      return lemma_rew

mydata['Lemma'] = mydata['POS tagged'].apply(lemmatize)
# mydata.head(150)

,reviews_text,Cleaned Reviews,POS tagged,Lemma
0,Pleasant 10 min walk along the sea front to th...,Pleasant min walk along the sea front to the W...,"[(Pleasant, n), (min, n), (walk, n), (along, N...",Pleasant
1,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel Stayed on the very top flo...,"[(Really, r), (lovely, a), (hotel, n), (Stayed...",Really
2,Ett mycket bra hotell. Det som drog ner betyge...,Ett mycket bra hotell Det som drog ner betyget...,"[(Ett, n), (mycket, n), (bra, n), (hotell, n),...",Ett
3,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...,"[(stayed, v), (four, None), (nights, n), (Octo...",stay
4,We stayed here for four nights in October. The...,We stayed here for four nights in October The ...,"[(stayed, v), (four, None), (nights, n), (Octo...",stay
...,...,...,...,...
145,I have stayed here twice now and loved it both...,I have stayed here twice now and loved it both...,"[(stayed, v), (twice, r), (loved, v), (times, ...",stay
146,"Clean, safe, friendly, brand new, hotel- :)",Clean safe friendly brand new hotel,"[(Clean, a), (safe, a), (friendly, a), (brand,...",Clean
147,"The last time I stayed at this hotel, it was u...",The last time I stayed at this hotel it was un...,"[(last, a), (time, n), (stayed, v), (hotel, n)...",last
148,Visiting family,Visiting family,"[(Visiting, v), (family, n)]",Visiting
149,"Perfect, best hotel over others in the area",Perfect best hotel over others in the area,"[(Perfect, a), (best, a), (hotel, n), (others,...",Perfect

Lemma

In [7]:
from textblob import TextBlob
# function to calculate subjectivity
def getSubjectivity(review):
    return TextBlob(review).sentiment.subjectivity
    # function to calculate polarity
def getPolarity(review):
    #print(TextBlob(review).sentiment.polarity)
    return TextBlob(review).sentiment.polarity

# function to analyze the reviews
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [8]:
fin_data = pd.DataFrame(mydata[['reviews_text', 'Lemma']])
# fin_data.head(150)

                                          reviews_text       Lemma
0    Pleasant 10 min walk along the sea front to th...    Pleasant
1    Really lovely hotel. Stayed on the very top fl...      Really
2    Ett mycket bra hotell. Det som drog ner betyge...         Ett
3    We stayed here for four nights in October. The...        stay
4    We stayed here for four nights in October. The...        stay
..                                                 ...         ...
145  I have stayed here twice now and loved it both...        stay
146        Clean, safe, friendly, brand new, hotel- :)       Clean
147  The last time I stayed at this hotel, it was u...        last
148                                    Visiting family    Visiting
149        Perfect, best hotel over others in the area     Perfect

[150 rows x 2 columns]

In [9]:
#fin_data['Subjectivity'] = fin_data['Lemma'].apply(getSubjectivity)
cnt=0
fin_data=fin_data.dropna()
#print(fin_data['Lemma'].isna())
fin_data['Polarity1'] = fin_data['Lemma'].apply(getPolarity) 
fin_data['Analysis'] = fin_data['Polarity1'].apply(analysis)
# fin_data.head(150)

,reviews_text,Lemma,Polarity1,Analysis
0,Pleasant 10 min walk along the sea front to th...,Pleasant,0.733333,Positive
1,Really lovely hotel. Stayed on the very top fl...,Really,0.200000,Positive
2,Ett mycket bra hotell. Det som drog ner betyge...,Ett,0.000000,Neutral
3,We stayed here for four nights in October. The...,stay,0.000000,Neutral
4,We stayed here for four nights in October. The...,stay,0.000000,Neutral
...,...,...,...,...
145,I have stayed here twice now and loved it both...,stay,0.000000,Neutral
146,"Clean, safe, friendly, brand new, hotel- :)",Clean,0.366667,Positive
147,"The last time I stayed at this hotel, it was u...",last,0.000000,Neutral
148,Visiting family,Visiting,0.000000,Neutral
149,"Perfect, best hotel over others in the area",Perfect,1.000000,Positive

In [ ]:
tb_counts = fin_data.Analysis.value_counts()
# tb_counts

Neutral     105
Positive     36
Negative      6
Name: Analysis, dtype: int64